<a href="https://colab.research.google.com/github/RajeshRanaGiet/IML-Lab/blob/main/Experiment-2(Pandas%20and%20NumPy)/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas
mydataset = {
    'cars' : ["BMW","Volvo","Ford"],
    'passings' : [3,7,2]
}

myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
#now the pandas package can be referred to as pd instead of pandas.
import pandas as pd
mydataset = {
    'cars' : ["BMW","Volvo","Ford"],
    'passings' : [3,7,2]
}

myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
# a pandas series is like a column in a table.
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [4]:
#Labels
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a, index=["x","y","z"])
print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [5]:
import pandas as pd
calories = {"day1" : 420, "day2" : 380, "day3" : 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [6]:
import pandas as pd
data = {
    "calories" : [420,380,390],
    "duration" : [50, 40, 45]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45